
<div style=" display: flex;align-items: center;flex-direction: column; width: 100%">
    <app-line-chart></app-line-chart>
    <app-plugin></app-plugin>
    <app-global-plugin></app-global-plugin>
    <app-bar-chart></app-bar-chart>
    <app-doughnut-chart></app-doughnut-chart>
    <app-radar-chart></app-radar-chart>
    <app-pie-chart></app-pie-chart>
    <app-polar-chart></app-polar-chart>
    <app-reset-option></app-reset-option>
    <app-chart-type></app-chart-type>
    <br>
    <a [routerLink]="['lazy']" routerLinkActive="router-link-active" >To Lazy Module</a>
    <br>
    <div style="text-align: center;">
        <router-outlet></router-outlet>
    </div>
    <br>
</div>