
<div style="text-align: center">
    <div style="width: 600px; margin-top:20px">
        <div>Global Plugin Custom</div>
        <div style="position: relative; width: 600px;">
          <canvas ngxChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>
    <div style="width: 600px; margin-top: 20px">
        <div>Global Plugin : chartjs-plugin-annotation.js</div>
        <div style="position: relative; width: 600px;">
          <canvas ngxChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartGlobalPlugin" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
        </div>
    </div>
</div>
